.container {
  text-align: center;
  margin: 10px auto;
}

.button {
  min-width: 100px;
}

.header-span{
  padding: 0 1em 0 1em;
  font-size: 1em;
  cursor: pointer;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.loading {
  z-index: 999;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(211,211,211,0.7);
}

.spinner {
  top:40%;
  left:47%;
}


.movieCard {
  width: 350px;
  margin: 20px;
  display: inline-block;
}

.footer {
  margin:10px;
}

.page-field {
  width:100px;
}
