<div class = "loading" *ngIf="isLoading">
  <mat-spinner class = "spinner"></mat-spinner>
</div>

<mat-toolbar color="primary">
  <span class = "cursor-pointer" (click) = "test()">Memeo</span>
  <span class="fill-remaining-space"></span>
  <span class = "cursor-pointer" (click) = "auth.logout()">Log Out</span>
</mat-toolbar>

<mat-sidenav-container class = "sidenav">
  <mat-sidenav mode="side" opened class = "sidenav-container">Sidenav content</mat-sidenav>
  <mat-sidenav-content>Main content</mat-sidenav-content>
</mat-sidenav-container>
