/* You can add global styles to this file, and also import other style files */

/* Import star-rating styles */
@import "~css-star-rating/css/star-rating.min.css";

* {
  font-family: Raleway /* Replace with your custom font */, sans-serif !important;
}

html, body { height: 100%; }

body { margin: 0;}

